<h1>Listing big_time_entries</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Person</th>
      <th>Hours</th>
      <th>Date</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @big_time_entries.each do |big_time_entry| %>
      <tr>
        <td><%= big_time_entry.id %></td>
        <td><%= big_time_entry.person %></td>
        <td><%= big_time_entry.hours %></td>
        <td><%= big_time_entry.date %></td>
        <td><%= big_time_entry.comment %></td>
        <td><%= link_to 'Show', big_time_entry %></td>
        <td><%= link_to 'Edit', edit_big_time_entry_path(big_time_entry) %></td>
        <td><%= link_to 'Destroy', big_time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Big time entry', new_big_time_entry_path %>
