<h1>Listing fog_bugz_cases</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Estimate</th>
      <th>Current</th>
      <th>Person</th>
      <th>Resolved?</th>
      <th>Percentage</th>
      <th>Active?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fog_bugz_cases.each do |fog_bugz_case| %>
      <tr>
        <td><%= fog_bugz_case.id %></td>
        <td><%= fog_bugz_case.title %></td>
        <td><%= fog_bugz_case.estimate %></td>
        <td><%= fog_bugz_case.current %></td>
        <td><%= fog_bugz_case.person %></td>
        <td><%= fog_bugz_case.resolved? %></td>
        <td><%= fog_bugz_case.percentage %></td>
        <td><%= fog_bugz_case.active? %></td>
        <td><%= link_to 'Show', fog_bugz_case %></td>
        <td><%= link_to 'Edit', edit_fog_bugz_case_path(fog_bugz_case) %></td>
        <td><%= link_to 'Destroy', fog_bugz_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fog bugz case', new_fog_bugz_case_path %>
